header {
    background: var(--verde);
    width: 1520px;
    height: 117px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu', sans-serif;
    margin-top: -8px;
    margin-left: -8px;
   
   
}


header img {
    width: 69px;
    height: 61px;
    margin-left: 82px;
    margin-top: 24px;
    
   
}

header p {
    font-size: 50px;
    font-weight: 200;
    margin-left: 162px;
    margin-top: -55px;
    color: #fff;
}

#menu {
    margin-left: 1090px;
    margin-top: -78px;
    color: #fff;
   
}

header a {
    color: #fff;
    margin: 0px 10px;
    text-decoration: none;
}

header a:hover {
    color: blue;
    transition: 0.4s;
}




  
 
   
    
    
    
  




   
